#blurb > p:first-child {
    font-size: 210%;
    text-align: center;
    margin-bottom: 30px;
}

#blurb > p:not(:first-child) {
    font-size: 120%;
}

#blurb > p:nth-child(n + 3) {
    padding-top: 10px;
}

#slideshow {
    float: left;
    margin-right: 40px;
    width: 400px;
}

#slideshow img {
    width: 100%;
}

.content:nth-child(2n) {
    background-color: #283B68;
    color: lightgrey;
}

.content:nth-child(2n + 1) {
    color: #283B68;
}
