---
extends: base.j2
title: MuirTec Inc.
description: We design solutions
---

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ media_url('css/services.css') }}">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ media_url('js/slideshow.js') }}"></script>
{% endblock %}

{% block main -%}

<!-- carousel slideshow -->
{% from "macros.j2" import render_carousel with context %}
{{ render_carousel(carousel) }}

<p id="catchphrase">
At MuirTec we design solutions.
</p>

{% filter markdown|typogrify -%}

MuirTec Inc. provides quality structural and civil engineering
services. We work on small or large scale projects for residential,
industrial, and municipal clients. We are able to adapt and rise to
the challenges of any project, regardless of size or complexity.

Our services have been used by architects, building contractors,
developers, local municipalities, larger government bodies and
more.
{%- endfilter %}

{% from "macros.j2" import render_services with context %}
{{ render_services(services) }}

{%- endblock %}
