---
extends: base.j2
title: MuirTec Inc.
description: We design solutions
---

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ media_url('css/services.css') }}">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ media_url('js/slideshow.js') }}"></script>
{% endblock %}

{% block main -%}

<!-- carousel slideshow -->
<div id="slideshow" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slideshow" data-slide-to="0" class="active"></li>
        <li data-target="#slideshow" data-slide-to="1"></li>
        <li data-target="#slideshow" data-slide-to="2"></li>
        <li data-target="#slideshow" data-slide-to="3"></li>
        <li data-target="#slideshow" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{ media_url('img/slideshow/slide1.jpg') }}" alt="Your time in good hands"/>
        </div>
        <div class="item">
            <img src="{{ media_url('img/slideshow/slide2.jpg') }}" alt="Your time in good hands"/>
        </div>
        <div class="item">
            <img src="{{ media_url('img/slideshow/slide3.jpg') }}" alt="Your time in good hands"/>
        </div>
        <div class="item">
            <img src="{{ media_url('img/slideshow/slide4.jpg') }}" alt="Your time in good hands"/>
        </div>
        <div class="item">
            <img src="{{ media_url('img/slideshow/slide5.jpg') }}" alt="Your time in good hands"/>
        </div>
    </div>
</div>

<p id="catchphrase">
At MuirTec we design solutions.
</p>

{% filter markdown|typogrify -%}

MuirTec Inc. provides quality structural and civil engineering
services. We work on small or large scale projects for residential,
industrial, and municipal clients. We are able to adapt and rise to
the challenges of any project, regardless of size or complexity.

Our services have been used by architects, building contractors,
developers, local municipalities, larger government bodies and
more.
{%- endfilter %}

{% from "macros.j2" import render_services with context %}
{{ render_services(services) }}

{%- endblock %}
