---
extends: base.j2
title: MuirTec Inc.
description: We design solutions
---

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ media_url('css/services.css') }}">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ media_url('js/slideshow.js') }}"></script>
{% endblock %}

{% block main_outside %}
<section class="content">
    <div class="container">
        <!-- carousel slideshow -->
        <div id="slideshow" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in carousel -%}
                <li data-target="#slideshow" data-slide-to="{{ loop.index }}"{{ ' class="active"' if loop.first }}></li>
                {%- endfor %}
            </ol>

            <div class="carousel-inner" role="listbox">
                {% for image in carousel -%}
                    <div class="item{{ ' active' if loop.first }}">
                        <img src="{{ media_url(image) }}" alt="Your time in good hands"/>
                    </div>
                {%- endfor %}
            </div>
        </div>

        <div id="blurb">
            <p id="catchphrase">
            At MuirTec we design solutions.
            </p>

            {% filter markdown|typogrify -%}
            {{ blurb }}
            {%- endfilter %}
        </div>
    </div>
</section>

<!-- services -->
{% for item in services -%}
<section class="content">
    <div class="container">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="{{ media_url(item.img) }}"></img>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ item.title }}</h4>
                {% filter markdown|typogrify -%}
                {{ item.description }}
                {%- endfilter %}
            </div>
        </div>
    </div>
</section>
{%- endfor %}

{%- endblock %}
