---
extends: base.j2
title: MuirTec Services
description: Services
---

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ media_url('css/services.css') }}">
{% endblock %}

{% block main -%}

<div id="service-list">

{% filter markdown|typogrify -%}

* ![]({{ media_url('img/services/thumb1.jpg') }})
    <h4>Structural Design</h4>
    Structural design for a wide variety of projects including steel frames
    for buildings, industrial equipment supports, plate work for tanks and
    custom vessels, reinforced concrete and foundations, masonry and timber.
* ![]({{ media_url('img/services/thumb2.jpg') }})
    <h4>Construction</h4>
    Inspection of materials for construction projects.
* ![]({{ media_url('img/services/thumb3.jpg') }})
    <h4>Restoration</h4>
    Structural restoration of buildings, bridges,
    parking lots, balconies and more.
* ![]({{ media_url('img/services/thumb4.jpg') }})
    <h4>Condition Surveys</h4>
* ![]({{ media_url('img/services/thumb5.jpg') }})
    <h4>Analysis</h4>
    Computer aided finite element analysis and design.
* ![]({{ media_url('img/services/thumb6.jpg') }})
    <h4>Chimneys and Stacks</h4>
    Free standing and guided steel chimneys and stacks.
* ![]({{ media_url('img/services/thumb7.jpg') }})
    <h4>Industrial, Commercial and Residential Buildings</h4>
    New designs, modifications of existing conditions and additions.
* ![]({{ media_url('img/services/thumb8.jpg') }})
    <h4>Transport Design</h4>
    Transport frames for large oversize loads.
* ![]({{ media_url('img/services/thumb9.jpg') }})
    <h4>Bridge Design and Rehabilitation</h4>
    Highway and pedestrian bridge design and rehabilitation.
* ![]({{ media_url('img/services/thumb10.jpg') }})
    <h4>Pollution Control</h4>
    Structural design of large pollution control equipment (precipitators, scrubbers,
    venturi, duct work, etc.) and their support steel frames.
* ![]({{ media_url('img/services/thumb11.jpg') }})
    <h4>Tanks and Vessels</h4>
    Design of tanks and vessels under 15 psi.
* ![]({{ media_url('img/services/thumb12.jpg') }})
    <h4>Rigging Design</h4>
    Design for rigging, heavy lifts, shoring and scaffolds
* ![]({{ media_url('img/services/thumb13.jpg') }})
    <h4>Other Services</h4>
    Crane repair design and load test supervision, water control gates in dams, hoist towers,
    trash racks and road decks etc.
* ![]({{ media_url('img/services/thumb14.jpg') }})
    <h4>Partner Services</h4>
    Through association with partner companies and individuals we offer services related to
    architectural design, mechanical engineering, electrical engineering, geotechnical
    engineering and building science. 

{%- endfilter %}

</div>
{%- endblock %}
